<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="../../../src/style/materialize/css/materialize.min.css"
      media="screen,projection"
    />
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NHS - Roadmaps</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 class="center-align black-text" style="padding-top: 4%;">
          Roadmaps
        </h1>
        
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    
    <script
      type="text/javascript"
      src="../../../src/style/materialize/js/materialize.min.js"
    ></script>
    <script src="../../controllers/main.js"></script>
    <script src="../../controllers/permissions.js"></script>
    <script>
      M.AutoInit();
      redirectIfNotPermitted();
    </script>
  </body>
</html>
